@CHARSET "UTF-8";


/**** Navbar ****/
/


* {margin: 0px; padding: 0px;}
#header{
	width: 100%;
	min-width: 450px;
	height: 80px;
	background: #EF4F35;
	box-shadow: 0px 4px 6px gray;
  overflow: hidden;
  border-radius: 5px;
  display: flex
}

#navbar{
  margin: 0px;
	width: 80%;
	height: 80px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;

}

.effect6{color:rgba(0,0,0, 0) !important; transition: all .3s ease;}
.effect6{text-shadow:0 0 0  #fff, 0 -80px 0 #000 ;}


@-webkit-keyframes drop {
  0%{text-shadow:0 0 0  #fff, 0 -80px 0 #000 ;}
   20% {text-shadow:0 0 0  #fff, 0 -28px 0 #000 ;}
   30%{text-shadow:0 28px 0  #fff, 0 0px 0 #000 ;}
  40%{text-shadow:0 80px 0  #fff, 0 0px 0 #000 ;}
   41%{text-shadow:0 80px 0  #fff, 0 0px 0 #000 , 0 -80px 0 #fff ;}
  70%{text-shadow:0 80px 0  #fff, 0 28px 0 #000 , 0 0px 0 #fff ;}
  80%{text-shadow:0 80px 0  #fff, 0 80px 0 #000 , 0 0px 0 #fff ;}
100%{text-shadow:0 80px 0  #fff, 0 80px 0 #000 , 0 0px 0 #fff ;}
}/*safari and chrome*/


@keyframes drop {
  0%{text-shadow:0 0 0  #fff, 0 -80px 0 #000 ;}
   20% {text-shadow:0 0 0  #fff, 0 -28px 0 #000 ;}
   30%{text-shadow:0 28px 0  #fff, 0 0px 0 #000 ;}
  40%{text-shadow:0 80px 0  #fff, 0 0px 0 #000 ;}
   41%{text-shadow:0 80px 0  #fff, 0 0px 0 #000 , 0 -80px 0 #fff ;}
  70%{text-shadow:0 80px 0  #fff, 0 28px 0 #000 , 0 0px 0 #fff ;}
  80%{text-shadow:0 80px 0  #fff, 0 80px 0 #000 , 0 0px 0 #fff ;}
100%{text-shadow:0 80px 0  #fff, 0 80px 0 #000 , 0 0px 0 #fff ;}
}



.btn.effect6:hover{
  -webkit-animation: drop .6s 1 linear;
 animation: drop .6s 1 linear;}


#navbar > li {
	width: auto;
	list-style: none;
	float: left;
	padding-right: 0px;
	margin-right: 0px;
transition: 0.4s;
}


#logo{
  width:39%;
  height:80px;
  display: inline-block;
  background-color:red;
  background-image: url("logo.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width:400px;
}

#logo img{
	width: 200px;
	height: 80px;
	float: left;
}




li a {
    display: flex;
    color: white;
    line-height: 80px;
    text-align: center;
		font-size: 150%;
		font-family: 'Roboto Slab', serif;
    text-decoration: none;
}

	#logo > img{
		width: 200px;
		height: 80px;
		float: left;
	}
}

/************ Media Queries *************/
@media (max-width:850px){
  #navbar {
    width: 100%;
  }

  #navbar li {
    width: 40%;
  }
}

@media (max-width:698px){
  #navbar {
    width: 60%;

  }

  #navbar > li {
    width: 20%;
  }
#navbar li a{
  font-size:13px;
}

}

/* BODY */

body{
	min-height: 1000px;
}

/* Main */

#main{
    height: 500px;
    width: 100%;
		min-width: 450px;
}



#imagenes {
    display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
}


div > ul{
  color: white;
  font-family:Fuente;
  font-size: 20px;
}


div.prueba p{
	text-align: center;
	font-size: 200%;
	font-family: 'Roboto Slab', serif;
	border-bottom: 2px solid #EF4F35;
	margin-top: 1px;
	margin-bottom: 15px; 

}

#imagenes {
    display: flex;
		justify-content: space-around;
		/*height: 1000px;*/
	}

div.prueba{
	margin-right: 100px;
	margin-bottom: 100px;
		transition: all .2s;
}
div.prueba img{
	box-sizing: border-box;

}

div.prueba img:hover{
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 3px solid #A7817B;


}
div.prueba:hover{
	transition: all .2s;
	margin-top:20px;
	border-top: 2px solid #EF4F35;
	margin-bottom:140px;

	div.prueba #foto1 p{
		height: 10px;
	}

}


/* Div PDF*/
div#pdf{
	box-sizing: border-box;
		height:  0px;
		background-color: rgba(0,0,0,0.5);
		overflow: hidden;
		z-index: 10;
		position: fixed;
		top: 0px;
		/*padding:20px;*/
		/*left: 30%;*/
		width: 100%;
}

div#pdf:target{
	height:100vh;
}


div#pdf a{
	display: block;
	height: 975px;
}
iframe {
	width: 50%;
	min-width: 750px;
	left: 0;
	right: 0;
	margin:0 auto;
	height: 975px;
	top: 0px;
	position: absolute;
}
